@CHARSET "ISO-8859-1";
.loginTable{
		margin-top:250px;
		margin-left:850px;
		text-align:center;
		width:250px;
}
.textField{
	border: 2px white;
	border-radius:5px;
	font-size:18px
}
.loginButton{
	border: 2px white;
	border-radius:5px;
	font-size:18px
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
}
.loginButton:hover{
	background-color:#4CAF50;
	color:white;
	
}
.loginBackground{
	display:inline;
	background-color:white;
}
#userName{
	background-image:url('images/usericon.png') left center no-repeat;
}
#password{
	
}